<!-- NAVBAR -->
<div th:fragment="header" class="header-fragment">
  <nav class="navbar">
    <div class="navbar-left">

      <a th:href="@{/tienda-monedas}" class="coins-display">
        <i class="fas fa-coins"></i>
        <span class="user-name" th:text="${usuario.monedas}" > </span>
      </a>

    </div>

    <div class="logo-section">
      <div class="logo-icon">
        <i class="fas fa-th"></i>
      </div>
      <span class="logo-text">Sudoku Master</span>
    </div>

    <div class="navbar-right">
      <div class="user-section" onclick="toggleAccordion()">
        <div class="avatar" title="Avatar del usuario" id="userAvatar" th:text="${usuario.nombreUsuario.substring(0,1).toUpperCase()}">J</div>
        <div class="user-name" th:text="${usuario.nombreUsuario}" > </div>
        <i class="fas fa-chevron-down user-chevron"></i>
      </div>
    </div>
  </nav>

  <!-- ACCORDION MENU -->
  <div class="accordion-menu">
    <div class="accordion-option">
      <i class="fas fa-user"></i>
      <a th:href="@{/perfil}" >Ver Perfil</a>
    </div>
    <div class="accordion-option" >
      <i class="fas fa-history"></i>
      <span>Historial de Partidas</span>
    </div>
    <div class="accordion-option" >
      <i class="fas fa-chart-line"></i>
      <span>Estadísticas</span>
    </div>
    <div class="accordion-option" >
      <i class="fas fa-sign-out-alt"></i>
      <a th:href="@{/cerrar_sesion}" >Cerrar Session</a>
    </div>
  </div>
</div>
