<!-- NAVBAR -->
<div th:fragment="header" class="header-fragment">
  <nav class="navbar">
    <div class="navbar-left">

      <a th:href="@{/tienda-monedas}" class="coins-display">
        <i class="fas fa-coins"></i>
        <span id="monedasUsuario" th:text="${usuario.monedas}" > </span>
      </a>

    </div>

    <a th:href="@{/home}" class="logo-section">
      <div class="logo-icon">
        <i class="fas fa-th"></i>
      </div>
      <span class="logo-text">Sudoku Master</span>
    </a>

    <div class="navbar-right">
      <div class="user-section" onclick="toggleAccordion()">
        <!-- Avatar -->
        <div class="avatar text-center" >
          <img th:if="${usuario.avatar != null and usuario.avatar.urlImagen != null}"
               th:src="@{${usuario.avatar.urlImagen}}"
               alt="Avatar del usuario"
               class="img-fluid rounded-circle">

          <span th:if="${usuario.avatar != null and usuario.avatar.urlImagen == null}"
                th:utext="${usuario.avatar.iconoHexadecimal}"
                class="emoji-avatar"></span>

          <span th:if="${usuario.avatar == null}"
                th:text="${#strings.substring(usuario.nombreUsuario,0,1).toUpperCase()}">
          </span>
        </div>
        <!-- Nombre de usuario -->
        <div class="user-name" th:text="${usuario.nombreUsuario}" > </div>
        <i class="fas fa-chevron-down user-chevron"></i>
      </div>
    </div>
  </nav>

  <!-- ACCORDION MENU -->
  <div class="accordion-menu">
    <div class="accordion-option">
      <i class="fas fa-user"></i>
      <a th:href="@{/perfil}" >Ver Perfil</a>
    </div>
    <div class="accordion-option" >
      <i class="fas fa-history"></i>
      <a th:href="@{/historial}" >Historias de Partidas</a>
    </div>
    <div class="accordion-option" >
      <i class="fas fa-chart-line"></i>
      <span>Estadísticas</span>
    </div>
    <div class="accordion-option" >
      <i class="fas fa-sign-out-alt"></i>
      <a th:href="@{/cerrar_sesion}" >Cerrar Session</a>
    </div>
  </div>
</div>
